<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Loan</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1>Add a New Loan</h1>
      <form method="POST">
        <div class="form-group">
          <label for="book_id">Select Book:</label>
          <select id="book_id" name="book_id" class="form-control">
            {% for book in books %}
            <option value="{{ book['book_id'] }}">{{ book['title'] }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label for="member_id">Select Member:</label>
          <select id="member_id" name="member_id" class="form-control">
            {% for member in members %}
            <option value="{{ member['member_id'] }}">
              {{ member['first_name'] }} {{ member['last_name'] }}
            </option>
            {% endfor %}
          </select>
        </div>

        <button type="submit" class="btn btn-primary">Add Loan</button>
      </form>
      <a href="{{ url_for('index') }}" class="btn btn-secondary mt-3"
        >Back to Home</a
      >
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
